.RecipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Recipe {
    margin: 10px 10px 10px 10px;
    background-color: burlywood;
    width: 50%;
}

.RecipeName {
    font-weight: bold;
}

.AddRecipeButton {
    position: fixed;
    height: 50px;
    width: 100px;
    top: 90%;
    left: 90%;
    background-color: #4CB6AC;
    border: solid black 1px;
    &:hover {
        cursor: pointer;
    }
}
